

<div id="viewport">
 <div style="background: url('http://projekti.kurtuesi.lv/tilecache/tilecache.cgi?LAYERS=kurtuesi&FORMAT=image%2Fjpeg&MAXEXTENT=151534%2C67842%2C922002%2C541818&PROJECTION=EPSG%3A3059&MAXRESOLUTION=999&ISBASELAYER=false&SERVICE=WMS&VERSION=1.1.1&REQUEST=GetMap&STYLES=&SRS=EPSG%3A3059&BBOX=580773.96903459,153689.99380692,666621.96284151,239537.98761384&WIDTH=512&HEIGHT=512') no-repeat; width: 512px; height: 512px;">
  </div>
  <div style="height: 1024px; width: 1024px;">
    <img src="<%= image_url( 'tilecache.jpeg' ) %>" alt="" />
    <div class="mapcontent">

    </div>
  </div>
</div>




